
#accountForms {
  display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  justify-content: center;
  text-align: center;
	z-index: 2;
  background-color: #cdeaffb1;
  transition: background-color 0.5s ease-in-out;
}
#accountForms.active {
  animation: fadeIn 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#accountForms.inactive {
  animation: fadeOut 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


#accountFormsNavbar {
	position: fixed;
  width: 100%;
  padding: 5px;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  transition: background-color 0.5s ease-in-out;
	z-index: 1;
}
#accountFormsNavbar button {
  color: #000000;
  font-size: 32px;
  padding: 7px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #c6ccd7;
  transition: background-color 0.5s ease-in-out;
}
#accountFormsNavbar.active {
  animation: slideTopIn 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
@keyframes slideTopIn {
  0% {
    transform: translate(0%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}


.closeButton {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url('../Resources/account/close.png');
  background-size: 90%; 
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  margin-bottom: -50px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.5s;
}
#closeLogin {
  background-color: #a8d0f2;
}
#closeSignup {
  background-color: #a8f2ed;
}
#closeRecovery{
  background-color: #a8aef2;
}
#closeLogin:hover, #closeSignup:hover, #closeRecovery:hover {
  transform: rotate(90deg);
  background-color: rgb(239, 163, 163);
  transition: transform 0.25s;
}
#closeLogin:active, #closeSignup:active, #closeRecovery:active {
  transform: rotate(90deg) translateX(2px);
  background-color: rgb(237, 121, 121);
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}


.backButton {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url('../Resources/account/back.png');
  background-size: 90%; 
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  margin-bottom: -50px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.5s;
}
#backSignup {
  background-color: #a8f2ed;
}
#backRecovery {
  background-color: #a8aef2;
}
#backSignup:hover, #backRecovery:hover {
  background-color: rgb(239, 233, 163);
  transition: transform 0.25s;
}
#backSignup:active, #backRecovery:active {
  transform: translateY(2px);
  background-color: rgb(237, 208, 121);
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}


.showPassword {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  height: 40px;
  width: 40px;
  background-image: url('../Resources/account/eye.png');
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: background-image 0.15s ease-in-out;
}


.userCheck {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  height: 40px;
  width: 40px;
  background-image: url('../Resources/account/userCard.png');
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: background-image 0.15s ease-in-out;
}


#loginPopup,
#signupPopup,
#recoveryPopup,
#passwordSectionPopup,
#contactSectionPopup,
#changePassPopup {
  display: none;
	position: fixed;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  min-width: 300px;
  max-width: 500px;
	background-color: #fff;
	padding: 20px;
  margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
  font-size: 24px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#loginPopup h2, #signupPopup h2, #recoveryPopup h2, #changePassPopup h2 {
  text-align: center;
  font-size: 45px;
  position: relative;
}
#loginPopup h3, #recoveryPopup h3 {
  text-align: center;
  font-size: 22px;
  position: relative;
  width: 70%;
}

#loginPopup a {
  text-decoration: none;
  color: #007bff;
}
#loginPopup .signupLink {
  font-weight: 1000;
  margin: 0 -5px 0 0;
}

#loginPopup form, #signupPopup form, #changePassPopup form {
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#loginPopup span {
  position: relative;
}


#loginPopup input[type="text"],
#loginPopup input[type="password"],
#loginPopup input[type="showPassword"],
#loginPopup input[type="submit"],
#signupPopup input[type="text"],
#signupPopup input[type="password"],
#signupPopup input[type="showPassword"],
#signupPopup input[type="email"],
#signupPopup input[type="submit"],
#passwordSectionPopup input[type="email"],
#passwordSectionPopup input[type="submit"],
#contactSectionPopup input[type="text"],
#contactSectionPopup input[type="email"],
#contactMessage,
#contactTopic,
#changePassPopup input[type="password"],
#changePassPopup input[type="showPassword"],
#changePassPopup input[type="submit"] {
  width: 85%;
  font-size: 20px;
	padding: 25px 5px 25px 50px;
	margin: 5px 0 10px 0;
	border-radius: 5px;
  border: 1px solid rgb(185, 185, 185);
  background-color: #ecf8ff;
  background-size: 35px 35px;
  background-position: left 5px center;
  background-repeat: no-repeat; 
}


#loginPopup input[type="text"]  {
  width: calc(100% - 60px);
  background-image: url('../Resources/account/user.png');
  margin-top: -10px;
}
#loginPopup input[type="password"], #loginPopup input[type="showPassword"] {
  background-image: url('../Resources/account/lock.png');
  width: calc(100% - 115px);
  padding-right: 60px;
}


#signupPopup input[type="text"], 
#signupPopup input[type="password"], 
#signupPopup input[type="showPassword"] {
  width: 100%;
}
#signupPopup input[type="text"]  {
  background-image: url('../Resources/account/user.png');
}
#signupPopup input[type="password"] {
  background-image: url('../Resources/account/lock.png');
  padding-right: 60px;
}
#signupPopup input[type="showPassword"] {
  background-image: url('../Resources/account/lock.png');
  padding-right: 60px;
}


#loginPopup input[type="submit"],
#signupPopup input[type="submit"],
#passwordSectionPopup input[type="submit"],
#contactSectionPopup input[type="submit"],
#changePassPopup input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  width: 60%;
  padding: 20px 0;
  margin: 10px auto 0;
  border-radius: 15px;
  font-size: 25px;
  border-right: 6px solid #0054ae;
  border-bottom: 8px solid #0054ae;
  transition: all 0.15s;
  outline: none;
  box-shadow: inset 5px 7px 5px rgba(255, 255, 255, 0.3);
}

#loginPopup input[type="submit"]:hover, #signupPopup input[type="submit"]:hover {
  border-right: 3px solid #0054ae;
  border-bottom: 4px solid #0054ae;
  cursor: pointer;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.3);
}
#loginPopup input[type="submit"]:active, #signupPopup input[type="submit"]:active {
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}


#loginPopup .rememberForgotContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
  margin: 15px 0 10px 0;
}
#loginPopup label[for="loginRememberMe"] {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
#loginPopup input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #003b7b;
  margin-right: 10px;
}
#loginPopup input[type="checkbox"]:checked {
  background-color: #007bff;
  background-image: url('../Resources/account/checkmark.png');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
#loginPopup a#forgotLink {
  font-weight: lighter;
}
#loginPopup.active {
  animation: slideIn 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: -200%;
  --beginSlideY: -50%;
}
#loginPopup.inactive {
  animation: slideOut 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: -200%;
  --beginSlideY: -50%;
}
@keyframes slideIn {
  0% {
    transform: translate(var(--beginSlideX), var(--beginSlideY));
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(var(--beginSlideX), var(--beginSlideY));
    opacity: 0;
  }
}


#signupPopup .rowElements {
  position: relative;
  display: flex;
  align-items: center; 
}

#signupPopup input[type="text"],
#signupPopup input[type="password"],
#signupPopup input[type="showPassword"],
#signupPopup input[type="email"] {
  border: 1px solid rgb(185, 185, 185);
  background-color: #ecffff;
  transition: background-color 0.15s ease-in-out;
}
#signupPopup input[type="email"] {
  width: calc(100% - 60px);
  background-image: url('../Resources/account/email.png');
}
#signupPopup input[type="submit"] {
  background-color: #00ccd3;
  border-right: 6px solid #009aa0;
  border-bottom: 8px solid #009aa0;
  box-shadow: inset 5px 7px 5px rgba(255, 255, 255, 0.3);
}
#signupPopup input[type="submit"]:hover {
  border-right: 3px solid #009aa0;
  border-bottom: 4px solid #009aa0;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.3);
}
#signupPopup input[type="submit"]:active {
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

#signupPopup.active {
  animation: slideIn 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: 200%;
  --beginSlideY: -50%;
}
#signupPopup.inactive {
  animation: slideOut 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: 200%;
  --beginSlideY: -50%;
}



#signupUsernameError,
#signupPasswordError,
#signupPasswordConfirmError,
#signupEmailError,
#signupEmailConfirmError,
#changePasswordError,
#changePasswordConfirmError {
  display: none;
  font-size:16px;
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 70px);
  min-width: 280px;
  padding: 20px 10px;
  margin-right: 50px;
  font-size: 20px;
  background-color: rgb(249, 245, 245);
  border: 3px solid rgb(236 64 64);
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
#signupUsernameError {
  top: 230px;
}
#signupPasswordError {
  top: 318px;
}
#signupPasswordConfirmError {
  top: 406px;
}
#signupEmailError {
  top: 494px;
}
#signupEmailConfirmError {
  top: 583px;
}
#signupUsernameError::before,
#signupPasswordError::before,
#signupPasswordConfirmError::before,
#signupEmailError::before,
#signupEmailConfirmError::before,
#changePasswordError::before,
#changePasswordConfirmError::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(236 64 64) transparent;
}


#recoveryPopup .rowElements {
  position: relative;
  display: flex;
  align-items: center; 
}
#recoveryPopup.active, #passwordSectionPopup.active, #contactSectionPopup.active {
  animation: slideIn 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: -50%;
  --beginSlideY: 200%;
}
#recoveryPopup.inactive, #passwordSectionPopup.inactive, #contactSectionPopup.inactive {
  animation: slideOut 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: -50%;
  --beginSlideY: 200%;
}
#recoveryPopup h3 {
  font-size: 26px;
}

#recoveryPopup button.formOption {
  width: 130px;
  height: 75px;
  color: #ffffff;
  font-size: 22px;
  margin: 40px 20px 20px 20px;
  background-color: #4a00d3;
  border-right: 6px solid #4000a0;
  border-bottom: 8px solid #3b00a0;
  border-radius: 30px;
  box-shadow: inset 5px 7px 5px rgba(255, 255, 255, 0.3);
}
#recoveryPopup button.formOption:hover {
  border-right: 3px solid #4000a0;
  border-bottom: 4px solid #3b00a0;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.3);
}
#recoveryPopup button.formOption:active {
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}
#recoveryPopup span {
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


#passwordSectionPopup, #contactSectionPopup {
  display: none;
  height: auto;
  width: 90%;
  padding: 20px;
	border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}
#passwordSectionPopup h3, #contactSectionPopup h3 {
  width: 85%;
  margin-bottom: 20px;
}
#passwordSectionPopup input[type="email"],
#contactSectionPopup input[type="email"] {
  background-color: #f2ecff;
  width: calc(100% - 60px);
  background-image: url('../Resources/account/email.png');
}
#passwordSectionPopup input[type="submit"], #contactSectionPopup input[type="submit"]  {
  background-color: #4a00d3;
  border-right: 6px solid #4000a0;
  border-bottom: 8px solid #3b00a0;
  box-shadow: inset 5px 7px 5px rgba(255, 255, 255, 0.3);
}
#passwordSectionPopup input[type="submit"]:hover, #contactSectionPopup input[type="submit"]:hover {
  border-right: 3px solid #4000a0;
  border-bottom: 4px solid #3b00a0;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.3);
}
#passwordSectionPopup input[type="submit"]:active, #contactSectionPopup input[type="submit"]:active {
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}


#contactSectionPopup input[type="text"] {
  background-color: #f2ecff;
  width: calc(100% - 60px);
  background-image: url('../Resources/account/user.png');
}
#contactMessage {
  background-color: #f2ecff;
  width: calc(100% - 30px);
  padding: 10px;
}
#contactTopic {
  background-color: #f2ecff;
  width: 200px;
  padding: 10px;
}


#redirectPopup, #changeRedirectPopup {
  display: none;
  position: absolute;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  min-width: 300px;
  max-width: 480px;
  height: auto;
  border-radius: 25px;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fc8a8ae3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
}


#popupBox, #changePopupBox {
  display: flex;
  width: 80%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  font-size: 24px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#popupBox::before, #changePopupBox::before {
    content: "";
}



#accountForm {
  display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  justify-content: center;
  text-align: center;
	z-index: 2;
  background-color: #ffcdfbb1;
  transition: background-color 0.5s ease-in-out;
}

#accountFormNavbar {
	position: fixed;
  width: 100%;
  padding: 5px;
  justify-content: center;
  text-align: center;
  background-color: #d15aaf;
  transition: background-color 0.5s ease-in-out;
	z-index: 1;
}
#accountFormNavbar button {
  color: #000000;
  font-size: 32px;
  padding: 7px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #9e2690;
  transition: background-color 0.5s ease-in-out;
}
#accountFormNavbar.active {
  animation: slideTopIn 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
#changePassPopup {
  display: flex;
}
#changePassPopup span {
  position: relative;
}

#changePassPopup input[type="submit"] {
  background-color: #b700d3;
  border-right: 6px solid #9b00a0;
  border-bottom: 8px solid #9300a0;
  box-shadow: inset 5px 7px 5px rgba(255, 255, 255, 0.3);
}
#changePassPopup input[type="submit"]:hover {
  border-right: 3px solid #9b00a0;
  border-bottom: 4px solid #9300a0;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.3);
}
#changePassPopup input[type="submit"]:active {
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}
#changePassPopup input[type="password"], #changePassPopup input[type="showPassword"] {
  width: calc(100% - 120px);
  background-color: #d7c6d6;
  background-image: url('../Resources/account/lock.png');
  padding-right: 60px;
}
#changePasswordError {
  top: 190px;
}
#changePasswordConfirmError {
  top: 280px;
}

