html {
  width: 100%;
  height: 100%;
  background-color:rgb(62, 86, 125);
}
body {
  position: absolute;
  margin: 50px 5px 0 5px;
  width: calc(100% - 10px);
  height: calc(100% - 50px);
  background-color:rgb(121, 153, 206);
}

.homeTopNavbar {
  background-color: #1975c1;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.homeTopNavbar button {
  padding: 20px 15px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  line-height: 5px;
  transition: background-color 0.3s ease-in-out;
}
.homeTopNavbar button:hover {
  background-color: #65ace7;
}
.homeTopNavbar button img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32px;
  width: 32px;
  object-fit: contain;
}
.homeTopNavbar .searchBar {
  border-radius: 20px;
  padding: 7px;
  background-color: #acc7dc;
  border: none;
  outline: none;
  height: 20px;
  width: 200px;
}


#searchTopNavbar {
  display: none;
  background-color: #1975c1;
  position: fixed;
  top: 135px;
  left: 50%;
  height: auto;
  min-width: 300px;
  width: 60%;
  padding: 20px 5px 0 5px;
  border-radius: 15px;
  overflow: hidden;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: visible;
}
#searchTopNavbar.active {
  animation: slideSwingTop 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
@keyframes slideSwingTop {
  0% {
    transform: translate(-50%,-170px) rotateX(-90deg) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%,-75px) rotateX(0) scale(1);
    opacity: 1;
  }
}
#searchTopNavbar.inactive {
  animation: slideSwingDown 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
@keyframes slideSwingDown {
  0% {
    transform: translate(-50%,-75px) rotateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%,-170px) rotateX(-90deg) scale(0.5);
    opacity: 0;
  }
}


.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(90% - 90px);
}
.searchBox input[type=text] {
  height: 40px;
  width: calc(100% - 100px);
  padding: 10px 60px 10px 10px;
  margin: 0 20px 0 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
}
.searchBox button[type=submit] {
  width: 45px;
  height: 45px;
  background-image: url("../Resources/navbar/search.png");
  background-color: transparent;
  background-size: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0 20px 0 -70px;
}


#searchType {
  height: 40px;
  width: 90px;
  margin: 0 10px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #333;
}
#searchType option:first-child {
  font-size: 16px;
}
#searchType option:nth-child(n+2) {
  font-size: 18px;
}

#sortMethod, #postsTags {
  margin: 20px 10px 10px;
}

#sortMethod {
  display: none;
  height: 40px;
  width: 120px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #ffffff;
}

#postsTags {
  display: none;
  height: 40px;
  width: 120px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
#postsTags span {
  font-size: 20px;
}


#dropdownTags {
  display: none;
  flex-direction: column;
  height: auto;
  width: 120px;
  margin: 0 10px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
  color: #333;
  position: absolute;
  top: 140px;
  left: 50%;
  width: auto;
  z-index: 3;
}

#tagsContainer {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  height: auto;
  overflow: auto;
  font-size: 20px;
}
#tagsContainer label {
  background-color: #ffffff;
}
#tagsContainer label:hover {
  transition: filter 0.5s ease-in-out;
  filter: brightness(80%); 
}
#tagsContainer .checkedLabel {
  background-color: #d56464;
}
#tagsContainer input[type="checkbox"] {
  display: none;
}

#chosenTags {
  display: flex;
  flex-wrap: wrap;
  margin: 7px 20px 15px;
  width: 100%;
}
#chosenTags div {
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 6px;
  margin-right: 5px;
  margin-bottom: 5px;
}
#chosenTags span {
  color: #888;
  font-size: 12px;
  cursor: pointer;
  margin-left: 5px;
}

#chosenTags #tagBox_Clear {
  background-color: #c47171;
  font-weight: 1000;
}


#tagBoxSplit {
  display: none;
  width: 85%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(36, 8, 64, 0), rgba(36, 8, 64, 0.75), rgba(36, 8, 64, 0));

}




#accountForms {
  display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  justify-content: center;
  flex-direction: colum;
  text-align: center;
	z-index: 2;
  background-color: #cdeaffb1;
}
#accountForms.active {
  animation: fadeIn 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#accountForms.inactive {
  animation: fadeOut 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


#accountFormsNavbar {
	position: fixed;
  width: 100%;
  padding: 5px;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
	z-index: 1;
}
#accountFormsNavbar button {
  color: #000000;
  font-size: 32px;
  padding: 7px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #c6ccd7;
}
#accountFormsNavbar.active {
  animation: slideTopIn 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
}
@keyframes slideTopIn {
  0% {
    transform: translate(0%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}




.closeButton {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /*background: url('../Resources/account/close.png') 0 0/75% auto no-repeat, radial-gradient(#ffffff 30%, #48abe0 100%);*/
  background-image: url('../Resources/account/close.png');
  background-size: 90%; 
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  margin-bottom: -50px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}
#closeLogin {
  background-color: #a8d0f2;
}
#closeSignup {
  background-color: #a8f2ed;
}
#closeLogin:hover, #closeSignup:hover {
  transform: rotate(90deg);
  background-color: rgb(239, 163, 163);
  transition: transform 0.25s;
}
#closeLogin:active, #closeSignup:active {
  transform: rotate(90deg), translateY(5px);
  background-color: rgb(237, 121, 121);
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.backButton {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /*background: url('../Resources/account/close.png') 0 0/75% auto no-repeat, radial-gradient(#ffffff 30%, #48abe0 100%);*/
  background-image: url('../Resources/account/back.png');
  background-size: 90%; 
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  margin-bottom: -50px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}
#backSignup {
  background-color: #a8f2ed;
}
#backSignup:hover {
  background-color: rgb(239, 233, 163);
  transition: transform 0.25s;
}
#backSignup:active {
  background-color: rgb(237, 208, 121);
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.showPassword {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  height: 40px;
  width: 40px;
  background-image: url('../Resources/account/eye.png');
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: background-image 0.15s ease-in-out;
}

.userCheck {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  height: 40px;
  width: 40px;
  background-image: url('../Resources/account/userCard.png');
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: background-image 0.15s ease-in-out;
}


#loginPopup,#signupPopup {
  display: none;
	position: fixed;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  min-width: 300px;
  max-width: 500px;
	background-color: #fff;
	padding: 20px;
  margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
  font-size: 24px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#loginPopup h2,#signupPopup h2 {
  text-align: center;
  font-size: 45px;
  position: relative;
}
#loginPopup h3 {
  text-align: center;
  font-size: 22px;
  position: relative;
  width: 70%;
}
#loginPopup a {
  text-decoration: none;
  color: #007bff;
}
#loginPopup .signupLink {
  font-weight: 1000;
  margin: 0 -5px 0 0;
}

#loginPopup form,#signupPopup form {
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#loginPopup span {
  position: relative;

}
#signupPopup span {
  position: relative;
  display: flex;
  align-items: center; 
}
#loginPopup input[type="text"],
#loginPopup input[type="password"],
#loginPopup input[type="showPassword"],
#loginPopup input[type="submit"],
#signupPopup input[type="text"],
#signupPopup input[type="password"],
#signupPopup input[type="showPassword"],
#signupPopup input[type="email"],
#signupPopup input[type="submit"] {
  width: 85%;
  font-size: 20px;
	padding: 25px 5px 25px 50px;
	margin: 5px 0 10px 0;
	border-radius: 5px;
	border: none;
  background-color: #ecf8ff;
  background-size: 35px 35px;
  background-position: left 5px center;
  background-repeat: no-repeat; 
}
#loginPopup input[type="text"]  {
  background-image: url('../Resources/account/user.png');
  margin-top: -10px;
}
#signupPopup input[type="text"]  {
  background-image: url('../Resources/account/user.png');
  width: 100%;
}
#loginPopup input[type="password"] {
  background-image: url('../Resources/account/lock.png');
  width: calc(85% - 60px);
  padding-right: 60px;
}
#signupPopup input[type="password"] {
  background-image: url('../Resources/account/lock.png');
  width: 100%;
  padding-right: 60px;
}
#loginPopup input[type="showPassword"],#signupPopup input[type="showPassword"] {
  background-image: url('../Resources/account/lock.png');
  padding-right: 60px;
}
#loginPopup input[type="submit"],#signupPopup input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  width: 60%;
  padding: 20px 0;
  margin: 10px auto 0;
  border-radius: 15px;
  font-size: 25px;
  border-right: 6px solid #0054ae;
  border-bottom: 8px solid #0054ae;
  transition: all 0.15s;
  outline: none;
  box-shadow: inset 5px 7px 5px rgba(255, 255, 255, 0.3);
}
#loginPopup input[type="submit"]:hover,#signupPopup input[type="submit"]:hover {
  border-right: 3px solid #0054ae;
  border-bottom: 4px solid #0054ae;
  cursor: pointer;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.3);
}
#loginPopup input[type="submit"]:active,#signupPopup input[type="submit"]:active {
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}
#loginPopup .rememberForgotContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
  margin: 15px 0 10px 0;
}
#loginPopup label[for="loginRememberMe"] {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
#loginPopup input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #003b7b;
  margin-right: 10px;
}
#loginPopup input[type="checkbox"]:checked {
  background-color: #007bff;
  background-image: url('../Resources/account/checkmark.png');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
#loginPopup a#forgotLink {
  font-weight: lighter;
}
#loginPopup.active {
  animation: slideLeftIn 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: -200%;
  --beginSlideY: -50%;
}
#loginPopup.inactive {
  animation: slideLeftOut 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: -200%;
  --beginSlideY: -50%;
}
@keyframes slideLeftIn {
  0% {
    transform: translate(var(--beginSlideX), var(--beginSlideY));
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes slideLeftOut {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(var(--beginSlideX), var(--beginSlideY));
    opacity: 0;
  }
}




#signupPopup input[type="text"],
#signupPopup input[type="password"],
#signupPopup input[type="showPassword"],
#signupPopup input[type="email"],
#signupPopup input[type="submit"] {
  background-color: #ecffff;
  transition: background-color 0.15s ease-in-out;
}
#signupPopup input[type="email"] {
  background-image: url('../Resources/account/email.png');
}
#signupPopup input[type="submit"] {
  background-color: #00ccd3;
  border-right: 6px solid #009aa0;
  border-bottom: 8px solid #009aa0;
  box-shadow: inset 5px 7px 5px rgba(255, 255, 255, 0.3);
}
#signupPopup input[type="submit"]:hover {
  border-right: 3px solid #009aa0;
  border-bottom: 4px solid #009aa0;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.3);
}
#signupPopup input[type="submit"]:active {
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

#signupPopup.active {
  animation: slideLeftIn 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: 200%;
  --beginSlideY: -50%;
}
#signupPopup.inactive {
  animation: slideLeftOut 0.75s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
  --beginSlideX: 200%;
  --beginSlideY: -50%;
}





#recoveryMenuPopup {
    display: none;
	position: fixed;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    min-width: 300px;
    max-width: 500px;
	background-color: #fff;
	padding: 20px;
    margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
    font-size: 24px;
}
#recoveryMenuPopup h2 {
    text-align: center;
    font-size: 35px;
    position: relative;
}
#recoveryMenuPopup h3 {
    text-align: center;
    font-size: 25px;
    position: relative;
}
#recoveryMenuPopup button {
    display: block;
	background-color: #007bff;
	color: #fff;
    width: 80%;
    padding: 20px 0;
    margin: 15px auto 20px;
    border-radius: 15px;
    font-size: 25px;
} 



#recoverPasswordPopup {
    display: none;
	position: fixed;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    min-width: 300px;
    max-width: 500px;
	background-color: #fff;
	padding: 20px;
    margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
    font-size: 24px;
}
#recoverPasswordPopup h2 {
    text-align: center;
    font-size: 35px;
    position: relative;
}
#recoverPasswordPopup form {
	display: flex;
	flex-direction: column;
}
#recoverPasswordPopup input[type="text"],
#recoverPasswordPopup input[type="password"],
#recoverPasswordPopup input[type="submit"] {
    font-size: 20px;
	padding: 25px 5px 25px 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
}
#recoverPasswordPopup input[type="submit"] {
    display: block;
	background-color: #007bff;
	color: #fff;
    width: 80%;
    padding: 20px 0;
    margin: 15px auto 20px;
    border-radius: 15px;
    font-size: 25px;
} 



#contactFormPopup {
    display: none;
	position: fixed;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    min-width: 300px;
    max-width: 500px;
	background-color: #fff;
	padding: 20px;
    margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
    font-size: 24px;
}
#contactFormPopup h2 {
    text-align: center;
    font-size: 35px;
    position: relative;
}
#contactFormPopup form {
	display: flex;
	flex-direction: column;
}
#contactFormPopup input[type="text"],
#contactFormPopup input[type="password"],
#contactFormPopup input[type="submit"] {
    font-size: 20px;
	padding: 25px 5px 25px 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
}
#contactFormPopup input[type="submit"] {
    display: block;
	background-color: #007bff;
	color: #fff;
    width: 80%;
    padding: 20px 0;
    margin: 15px auto 20px;
    border-radius: 15px;
    font-size: 25px;
} 





#signupUsernameError, #signupPasswordError, #signupPasswordConfirmError, #signupEmailError, #signupEmailConfirmError {
  display: none;
  font-size:16px;
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 70px);
  min-width: 280px;
  padding: 10px;
  margin-right: 50px;
  background-color: red;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
#signupUsernameError {
  top: 227px;
}
#signupPasswordError {
  top: 315px;
}
#signupPasswordConfirmError {
  top: 403px;
}
#signupEmailError {
  top: 491px;
}
#signupEmailConfirmError {
  top: 580px;
}
  
#signupUsernameError::before, #signupPasswordError::before, #signupPasswordConfirmError::before, #signupEmailError::before, #signupEmailConfirmError::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent red transparent;
}






  #redirectPopup {
    display: none;
	position: fixed;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    min-width: 300px;
    max-width: 500px;
	background-color: #fff;
	padding: 20px;
    margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 3;
    font-size: 24px;
}
#redirectPopup::before {
    content: "";
}











