
html, body {
  width: 100%;
  height: 100%;
  background-color:rgb(62, 86, 125);
}





#chPassBackground {
  display: block;
  position: fixed;
  background-color: #cdffe0b1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}





#chPassPopupTop {
  display: block;
  position: fixed;
  background-color: #3b9841;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  z-index: 2;
}


#chPassPopupTop button {
  color: #000000;
  background-color: #68e85c;
  font-size: 32px;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}




#chPassPopup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  font-size: 24px;
}
#chPassPopup h2 {
  text-align: center;
  font-size: 35px;
  position: relative;
}
#chPassPopup form {
  display: flex;
  flex-direction: column;
}
#chPassPopup input[type="text"],
#chPassPopup input[type="password"],
#chPassPopup input[type="submit"] {
  font-size: 20px;
  padding: 25px 5px 25px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
#chPassPopup input[type="submit"] {
  display: block;
  background-color: #007bff;
  color: #fff;
  width: 80%;
  padding: 20px 0;
  margin: 15px auto 20px;
  border-radius: 15px;
  font-size: 25px;
} 




#redirectPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
  font-size: 24px;
}
#redirectPopup::before {
  content: "";
}
