<!DOCTYPE html>
<html>
    <head>
        <title>Your Mind</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/recoverPass.css" type="text/css">
    </head>
<body>
    
    <div id="redirectPopup"></div>
    <div id="chPassBackground"></div>
    <div id="chPassPopupTop">
        <button>Your ✰ Mind</button>
    </div>

    <div id="chPassPopup">
        <h2>Enter your new password:</h2>
        <form id="changePasswordForm">
            <div id="changePasswrordError"></div>
            <input type="password" id="changePassword" name="password" placeholder="New password">
            <input type="password" id="changePasswordConfirm" name="passwordConfirm" placeholder="Confirm new password">
        </form>
        <input type="submit" form="changePasswordForm" onclick="changePasswordForm(`<%= code %>`,`<%= email %>`)">
    </div>

    <script src="../js/login.js"></script>
    <script src="../js/jquery-3.6.4.min.js"></script>
  </body>
  </html>