<!DOCTYPE html>
<html>
  <head>
    <title>Your Mind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
  </head>

<body>
    <div id="accountForm">
        <div id="accountFormNavbar">
            <button>Your ✰ Mind</button>
        </div>

        <div id="changePassPopup">
            <h3>Change Password Form</h3>
            <form id="changePasswordForm">
                <span>
                    <input type="password" id="changePassword" name="password" placeholder="New password" onblur="signupRuleBox(this,1)" oninput="signupPasswordCheckAuto(0,1);checkSignups('changePassword','changePasswordConfirm');signupRuleBox(this,0)" onfocus="signupRuleBox(this,0)">
                    <button class="showPassword" onclick="showPass(this,'changePassword')" type="button"></button>   
                </span>
                <div id="changePasswordError"></div>
                <span>
                    <input type="password" id="changePasswordConfirm" name="passwordConfirm" placeholder="Confirm new password" onblur="signupRuleBox(this,1)" oninput="checkSignups('changePassword','changePasswordConfirm');signupRuleBox(this,0)" onfocus="signupRuleBox(this,0)">
                    <button class="showPassword" onclick="showPass(this,'changePasswordConfirm')" type="button"></button>
                </span>
                <div id="changePasswordConfirmError"></div>
            </form>
            <input type="submit" form="changePasswordForm" onclick="changePasswordForm(`<%= code %>`,`<%= email %>`)">
        </div>
    </div>

    <div id="changeRedirectPopup">
        <div id="changePopupBox"></div>
    </div>


  <script src="../js/jquery-3.6.4.min.js"></script>
  <script src="../js/navbar.js"></script>
</body>
</html>




